body {
font-family: open-sans;
margin: auto;
text-align: center;
font-size: 20px;
}

/*user input section*/
.user-input {
  background: #E5F3F2;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

header {
  min-height: 25px;
}

h1 {
  color: #6D6E71;
  font-size: 2em;
  font-family: Roboto Slab;
  padding-top: 0px;
  padding-bottom: 10px;
}

.idea {
  color: #00A79D;
}

.form-wrapper {
  display: block;
  text-align: center;
}

form {
  margin: auto;
  display: inline-block;
  text-align: left;
}

input {
  box-sizing: border-box;
}

.idea-title {
  width: 85vh;
  display: block;
  outline-style: none;
  padding: 2px;
  margin: 10px;
}

.idea-body {
  display: block;
  outline-style: none;
  width: 85vh;
  padding: 2px;
  margin: 10px;
}

.save-button{
  background:#00A79D;
  color: white;
  display: block;
  outline-style: none;
  width: 85vh;
  transition: background 1s;
  padding: 2px;
  margin: 10px;
  margin-bottom: 15px;
}

.save-button:disabled {
  opacity: 0.5;
}

.save-button:hover{
  background:#045E55;
}

.idea-display{
  width: 100%;
}

.search-ideas {
  outline-style: none;
  margin: 15px 0px;
  width: 85vh;
}

/*container-card*/
.card {
  width: 85vh;
  border-bottom: 1px solid #D1D3D4;
  margin: 0vh auto 5vh auto;
  text-align: left;
  padding-bottom: 5vh; 
  }

/*children inside of card*/
.card h2 {
  color: #6D6E71;
  font-family: Open-Sans;
  font-size: .8em;
  display: inline;
}

.card p {
  color:#939598;
  font-size: .7em;
  margin: 10px 0px 15px 0px;
}

.svg.delete {
   background: url("images/delete.svg");
   float: right;
 }

.svg {
  height: 4.5vh;
  transition: background 1s;
  vertical-align: middle;
  width: 4.5vh;
  }

.svg.upvote {
  background: url("images/upvote.svg");
  display: inline-block;
  margin-right: 3vh;  
}

.svg.downvote{
  background: url("images/downvote.svg");
  display: inline-block;
  margin-right: 3vh;
}

.svg.delete:hover {
  background: url("images/delete-hover.svg");
}

.svg.upvote:hover {
  background: url("images/upvote-hover.svg");
}

.svg.downvote:hover {
  background: url("images/downvote-hover.svg");
}

#quality {
  color:#6D6E71;
  font-size: 0.6em;
}