body {
font-family: open-sans;
margin: auto;
text-align: center;
font-size: 20px;
}

/*user input section*/
.user-input {
  background: #E5F3F2;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

header {
  min-height: 25px;
}

h1 {
  color: #6D6E71;
  font-size: 2em;
  font-family: Roboto Slab;
  padding-top: 0px;
  padding-bottom: 10px;
}

.idea {
  color: #00A79D;
}

.form-wrapper {
  display: block;
  text-align: center;
}

form {
  margin: auto;
  display: inline-block;
  text-align: left;
}

input {
  box-sizing: border-box;
}

.idea-title {
  width: 50vh;
  display: block;
  outline-style: none;
  padding: 2px;
  margin: 10px;
}

.idea-body {
  display: block;
  outline-style: none;
  width: 50vh;
  padding: 2px;
  margin: 10px;
}

.save-button{
  background:#00A79D;
  color: white;
  display: block;
  outline-style: none;
  width: 50vh;
  transition: background 1s;
  padding: 2px;
  margin: 10px;
  margin-bottom: 15px;
}

.save-button:hover{
  background:#045E55;
}

.idea-display{
  margin: auto;
  width: 100%;
  padding-top: 15px;
}

.search-ideas {
  outline-style: none;
  width: 50vh;
}

.card {
  width: 50vh;
  display: inline-block;
  text-align: left;
  margin: 20px;

}

.card h2 {
  color: #6D6E71;
  display: inline;
  line-height: 


}

.svg {
  width: 3%;
  transition: background 1s;
}

.svg-delete {
  
}

.delete:hover {
  fill: red;

}

.upvote:hover {
  fill: green;
}

.downvote:hover {
  fill: yellow;
}