* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: auto;
  text-align: center;
  font-size: 1em;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #6D6E71;
  font-size: 2.5em;
  padding: 40px 0;
}

h2 {
  color: #6D6E71;
  display: inline;
  font-size: 1.3em;
}

header {
  min-height: 25px;
}

form {
  display: inline-block;
  margin: auto;
  text-align: left;
  width: 100%;
}

.card-title:focus, 
.card-body:focus, 
h2:focus, 
p:focus {
  outline: none;
}

p {
  font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}

/*TOP SECTION*/
.input {
  border: 2px solid #D1D3D4;

}

.input::-webkit-input-placeholder {
  color: #D1D3D4;
}

.user-input-section {
  background: #E5F3F2;
  margin: auto;
  width: 100%;
}

.green {
  color: #00A79D;
}

.form-wrapper {
  display: block;
  text-align: center;
}

.completed {
  background-color: magenta;
}

.card-title {
  display: block;
  outline-style: none;
  padding: 2px;
  margin: 0 auto 15px;
  width: 480px;
  height: 32px;
}

.card-body {
/*  border-color: #CCCCCC;*/
  display: block;
  height: 32px;
  width: 480px;
  margin: 0 auto 15px;
  outline-style: none;
  padding: 2px;
  resize: none;
}

.save-button{
  background: #00A79D;
  color: white;
  display: block;
  margin: 0 auto 25px;
  outline-style: none;
  padding: 2px;
  transition: background 1s;
  width: 480px;
  border-radius: 0px;
}

.save-button:disabled {
  opacity: 0.5;
}

.save-button:hover{
  background:#045E55;
}

.gray-text-button {
  color: #FFFFFF;
  background-color: #D1D2D4;
  font-size: 0.8em;
  padding: 2px;
}

.show-completed {
  display: block;
  margin: 0px auto 25px;
}

/*BOTTOM CONTAINER*/

.card-display{
  width: 100%;
}

.filter-cards {
  margin: 25px 0px 15px;
  outline-style: none;
  width: 480px;
}

.filter-button {
  font-size: 1em;
  padding: 4px;
  background-color: #00A79D;
  color: #FFFFFF;
  border-radius: 10px;
  outline-style: none;
  width: 80px;
}

.filter-button:hover {
  background-color: #045E55;

}

.filter-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 550px;
  margin: 0 auto 15px;
}

/*card features*/
.card {
  border-bottom: 1px solid #D1D3D4;
  margin: 0vh auto 5vh auto;
  padding-bottom: 3vh; 
  text-align: left;
  width: 480px;
  }


.card p {
  color:#939598;
  font-size: 1em;
  margin: 10px 0px 15px 0px;
}

.svg {
  /*vertical-align: middle;
  min-height: 10px; 
  min-width: 10px;
  max-height: 50px;
  max-width: 50px;*/
  border-style: none;
  border: none;
  height: 26px;
  width: 26px;
  padding: 0px 15px 0px 0px;
  box-sizing: content-box;
  }

.svg.delete {
   background: url("../images/delete.svg");
   float: right;
   background-repeat: no-repeat;
 }

 .svg.delete:hover {
  background: url("../images/delete-hover.svg");
  background-repeat: no-repeat;
}

.svg.downvote{
  background: url("../images/downvote.svg");
  display: inline-block;
/*  margin-right: 3vh;*/
  background-repeat: no-repeat;
}

.svg.upvote {
  background: url("../images/upvote.svg");
  display: inline-block;
  background-repeat: no-repeat;
}

.svg.upvote:hover {
  background: url("../images/upvote-hover.svg");
  background-repeat: no-repeat;
}

.svg.downvote:hover {
  background: url("../images/downvote-hover.svg");
  background-repeat: no-repeat;
}

.card-bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.quality {
  color:#6D6E71;
  font-size: 0.8em;
  font-family: 'Roboto Slab', serif;
}

/*Media Queries*/

@media screen and (max-width: 800px) {
  body {
    margin: 0 auto;
  }

  .card-title {
    font-size: 20px;
    width: 85%;
  }

  .card-body {
    width: 85%;
    max-height: none;
    min-height: 30px;
    font-size: 20px;
  }

  .card-display {
    width: 100%;
  }

  .save-button {
    width: 85%;
  }
  
  .filter-cards {
    width: 85%;
    border: 1px solid #CCCCCC;  
  }

  .card {
    width: 85%;
  }
}

@media screen and (max-width: 376px) {
  body {
    margin: 0 auto;
  }

  .card-title {
    font-size: 20px;
  }

  .card-body {
    max-height: none;
    min-height: 105px;
    height: 15vh;
    font-size: 20px;
  }

  .card-display {
    width: 100%;
  }
  
  .filter-cards {
    width: 85%;
    border: 1px solid #CCCCCC;  
  }

  .card {
    width: 85%;
  }
}

