* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

body {
  font-size: 1em;
  margin: auto;
  text-align: center;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #6D6E71;
  font-size: 2.5em;
  padding: 40px 0;
}

h2 {
  color: #6D6E71;
  display: inline;
  font-size: 1.3em;
}

header {
  min-height: 25px;
}

form {
  display: inline-block;
  margin: auto;
  text-align: left;
  width: 100%;
}

.card-title:focus, 
.card-body:focus, 
h2:focus, 
p:focus {
  outline: none;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/*TOP SECTION*/

.input {
  border: 2px solid #D1D3D4;

}

.input::-webkit-input-placeholder {
  color: #D1D3D4;
}

.user-input-section {
  background: #E5F3F2;
  margin: auto;
  width: 100%;
}

.green {
  color: #00A79D;
}

.form-wrapper {
  display: block;
}

.completed {
  background-color: #d9dadd;
}

.completed .mark-completed-button ,
.hide,
.hide-quality {
  display: none;
}

.card-body,
.card-title {
  display: block;
  height: 32px;
  margin: 0 auto 15px;
  outline-style: none;
  padding: 2px;
  width: 480px;
}


.card-body {
  resize: none;
}

.save-button {
  background: #00A79D;
  border-radius: 0px;
  color: white;
  display: block;
  margin: 0 auto 25px;
  outline-style: none;
  padding: 2px;
  transition: background 1s;
  width: 480px;
}

.save-button:disabled {
  opacity: 0.5;
}

.save-button:hover{
  background: #045E55;
}

.gray-outline {
  background-color: #FFFFFF;
  border: 1px solid #D1D3D4;
  border-radius: 0px;
  color: #6D6E71;
  padding: 3px;
}

.gray-outline:hover {
  background-color: #00A79D;
}

.show-completed {
  display: block;
  font-size: 1em;
  margin: 0px auto 40px;
  padding: 4px;
  width: 480px;
}

.mark-completed-button {
  font-size: 0.8em;
  margin-right: 20px;
}

.show-more-button {
  font-size: 1em;
  padding: 4px;
}


/*BOTTOM CONTAINER*/

.card-display article:nth-child(n+11) {
  display: none;
}

.card-display{
  width: 100%;
}

.filter-cards {
  margin: 0px 0px 15px;
}

.filter-cards,
.filter-button {
  outline-style: none;
}

.filter-cards, 
.card, 
.show-more-button {
  width: 480px;
}

.filter-button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 0px;
  color: #939598;
  font-size: 1em;
  padding: 4px;
  width: 80px;
}

.filter-button:hover,{
  border: 2px solid #00A79D;
}
.active {
  border: 2px solid #00A79D; 
}

.filter-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px auto 15px;
  width: 544px;
}

/*card features*/
.card {
  border-bottom: 1px solid #D1D3D4;
  margin: 0vh auto 5vh auto;
  padding-bottom: 3vh; 
  text-align: left;
  }


.card p {
  color:#939598;
  font-size: 1em;
  margin: 10px 0px 15px 0px;
}

.svg {
  border: none;
  border-style: none;
  box-sizing: content-box;
  height: 26px;
  padding: 0px 15px 0px 0px;
  width: 26px;
}

.svg.delete {
  background: url("../images/delete.svg");
  background-repeat: no-repeat;
  float: right;
 }

 .svg.delete:hover {
  background: url("../images/delete-hover.svg");
  background-repeat: no-repeat;
}

.svg.downvote{
  background: url("../images/downvote.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.svg.upvote {
  background: url("../images/upvote.svg");
  background-repeat: no-repeat;
  display: inline-block;
}

.svg.upvote:hover {
  background: url("../images/upvote-hover.svg");
  background-repeat: no-repeat;
}

.svg.downvote:hover {
  background: url("../images/downvote-hover.svg");
  background-repeat: no-repeat;
}

.card-bottom-container {
  justify-content: space-between;
}

.card-bottom-container,
.quality-container {
  display: flex;
  flex-direction: row;
}

.quality-container {
  align-items: center;
  justify-content: flex-start;
}

.quality {
  color:#6D6E71;
  font-size: 0.8em;
  font-family: 'Roboto Slab', serif;
}

/*Media Queries*/

@media screen and (max-width: 563px) {
  body {
    margin: 0 auto;
  }

  .card-title,
  .card-body,
  .save-button,
  .filter-cards,
  .card,
  .show-completed,
  .show-more-button {
    width: 85%;
  }


  .card-title {
    font-size: 20px;
  }

  .card-body {
    max-height: none;
    min-height: 30px;
    font-size: 20px;
    width: 85%;
  }

  .card-display {
    width: 100%;
  }
  
  .filter-button-container{
    width: 95%;
  }

  .filter-cards {
    border: 1px solid #CCCCCC;  
  }
}

@media screen and (max-width: 376px) {
  body {
    margin: 0 auto;
  }

  .card-title {
    font-size: 20px;
  }

  .card-body {
    font-size: 20px;
    height: 15vh;
    max-height: none;
    min-height: 105px;
  }

  .card-display {
    width: 100%;
  }
  
  .filter-cards {
     border: 1px solid #CCCCCC;  
     width: 85%;
  }

  .filter-button {
    margin: 10px auto;
  }

  .filter-button-container {
    display: block;
    text-align: center;
  }

  .card {
    width: 85%;
  }

  .show-completed{
    width: 85%;
  }
}

@media screen and (max-width: 172px) {
  .filter-button {
    width: 85%;
  }
}